# Python & Environments
__pycache__/
*.pyc
.venv/
env/
*env

# Dataset Folders (Huge Physical Files)
Dataset/
Dataset_Ready/
EMNIST_Processed/
Gambo*/
archive/
processed/
raw/
reports/

# Compressed Files & Artifacts (Upload these to GitHub Releases!)
*.zip
*.rar
*.7z
# Ignore all .gz files EXCEPT the test dataset for Streamlit

# IDE & OS Files
.vscode/
.idea/
.DS_Store
prompt/