# Dependencies for Streamlit Cloud (App Dashboard)
# ------------------------------------------------

# Core Data Science & Image Processing
numpy
pandas
matplotlib
Pillow

# Dashboard & UI
streamlit>=1.45.0
