# Dependencies for Dyslexia Dataset Project
# ----------------------------------------

# Core Data Science
numpy
pandas
matplotlib
seaborn

# Image Processing
Pillow
opencv-python

# Dashboard & UI
streamlit

# Machine Learning & Baseline
scikit-learn

# Deep Learning (For AI Engineer)
tensorflow

# Jupyter Environment (Optional but recommended)
ipykernel
notebook
